{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}
{% block title 'Latest' %}

{% block body %}
        

        <section id="central-section" class="bg-light p-5">
        <div class="container jumbotron p-5 img-rounded">
            <div class="row mb-5">
                <div class="col-lg">
                    <h1 class="display-4 font-weight-bold">Latest Movies.</h1>
                </div>
            </div>
                <div class="col-md-12 table-responsive img-rounded bg-light p-4">
                    <!-- Latest movies -->
                    {% for movie in movies %}
                      {{ macros.render_imported_movie(movie) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}