{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block title 'Movie page' %}

{% block body %}
    <section id="central-section" class="bg-light p-5">
        <div class="container jumbotron p-5 img-rounded">
            {{ macros.render_show_movie(movie) }}

            <!-- User Reviews -->
            <div class="row mb-4">
                <div class="col">
                    <h2 class="font-weight-bold">User Reviews.</h2>
                </div>
            </div>
            <div class="row mb-5 p-3">
                <div class="col img-rounded bg-light">
                    {% for review in movie.reviews %}
                        {{ macros.render_review(review) }}
                    {% endfor %}

                    {% if is_granted('ROLE_USER') %}
                        {{ form(review_form) }}
                    {% else %}
                        <div>You should be logged in to able to write a review.</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}